openapi: 3.0.3
info:
  title: photon-indexer
  description: Solana indexer for general compression
  license:
    name: Apache-2.0
  version: 0.38.0
servers:
- url: https://devnet.helius-rpc.com?api-key=<api_key>
paths:
  /:
    summary: getCompressedBalanceByOwner
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              - params
              properties:
                id:
                  type: string
                  description: An ID to identify the request.
                  enum:
                  - test-account
                jsonrpc:
                  type: string
                  description: The version of the JSON-RPC protocol.
                  enum:
                  - '2.0'
                method:
                  type: string
                  description: The name of the method to invoke.
                  enum:
                  - getCompressedBalanceByOwner
                params:
                  type: object
                  required:
                  - owner
                  properties:
                    owner:
                      $ref: '#/components/schemas/SerializablePubkey'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                required:
                - context
                - value
                properties:
                  context:
                    $ref: '#/components/schemas/Context'
                  value:
                    $ref: '#/components/schemas/UnsignedInteger'
                additionalProperties: false
components:
  schemas:
    Context:
      type: object
      required:
      - slot
      properties:
        slot:
          type: integer
          default: 100
          example: 100
    SerializablePubkey:
      type: string
      description: A Solana public key represented as a base58 string.
      default: 1111111B4T5ciTCkWauSqVAcVKy88ofjcSamrapud
      example: 1111111B4T5ciTCkWauSqVAcVKy88ofjcSamrapud
    UnsignedInteger:
      type: integer
      default: 100
      example: 100
